/* Global Layout */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
}

/*Profile Card Container */
.card {
    background-color:  hsl(0, 0%, 12%);
    padding: 2rem;
    border-radius: 12px;
    max-width: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
}

/* Avatar Image */
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.2rem;
}

/* Name Heading */
.name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

/* Location Text */
.location {
    color:  hsl(75, 94%, 57%);
    font-weight: 600;
    margin: 0;
}

/* Bio / Description  */
.bio {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
}

/* Social Link Buttons */
.links a {
    display: block;
    width: 100%;
    background-color:  hsl(0, 0%, 20%);
    color:  hsl(0, 0%, 100%);
    padding: 0.75rem; 
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover State */
.links a:hover {
    background-color:  hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%); 
}

/* Focus State (Keyboard Navigation) */
.links a:focus-visible {
    outline: 2px solid hsl(75, 94%, 57%);
    outline-offset: 3px;
}